<!DOCTYPE html>
<html>
    <head>
        <title>Denied access</title>
        <meta name="description" content="Montclair State University Clinical Biofeedback Laboratory">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/biofeedbackstudystyle.css">
    </head>

    <body>
    	<div>
    		<h4>Denied Access</h4>
    		<p>You may not use an iPhone to complete this rating task.</p>
    	</div>


    </body>
</html>
