<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>Perceptual /r/ ratings</title>
        <meta name="description" content="Montclair State University Clinical Biofeedback Laboratory">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <!-- <link rel="stylesheet" href="biofeedback-style.css"> -->
        <link rel="stylesheet" type="text/css" href="../static/biofeedbackstudystyle.css">
        {% endblock %}
    </head>
        
    <body>
    
    	<div class="container-fluid">
    	
    		<div class="row">
    			<div class="col-sm-3">
    			</div>
    		
    			<div class="col-sm-6" id="header">
    				<h4>Perceptual /r/ ratings</h4>
    			</div>
    			
    			<div class="col-sm-3">
    			</div>
    		</div>
    	
    		<div class="row">
    			<div class="col-sm-3">
    			</div>
    		
    			<div class="col-sm-6" id="entry">
    			{% block content %}
    			<p>{{ text }}</p>
				{% endblock %}
    			</div>
    			
    			<div class="col-sm-3">
    			</div>
    		</div>
    		
    		<div class="row">
    			<div class="col-sm-3">
    			</div>
    		
    			<div class="col-sm-6" id="footer">
    			{% block footer %}
    			{% endblock %}
    			</div>
    			
    			<div class="col-sm-3">
    			</div>
    		</div>
    	</div>

	<script>{% block script %}{% end block %}
	</script>


    </body>
</html>